/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/navbar.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
a.navbar_navlinks__w3oyM {
  color: rgb(239, 153, 23);
  padding: 20px 0px;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  font-size: 17px;
  font-weight: bold;
}

